.menuContainer{
    background-color: white;
    padding: 58px 28px;
    height: 100vh;
    width: 290px;
    box-sizing: border-box;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
}
.logo{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.logoName{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.companyName{
    font-family: var(--font-family-title, Montserrat);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    color: --Grey-800;
}
.accountVersion{
    font-family: var(--font-family-body, Montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: --Grey-600;
}
.singleLink{
    display: flex;
    gap: 10px;
    height: 24px;
    padding: 16px;
    align-items: center;
    align-self: center;
    font-family: var(--font-family-body, Montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}