$menu-padding: 58px 28px;
$menu-width: 290px;
$menu-logo-gap: 12px;
$menu-item-gap: 52px;
$menu-single-link-gap: 10px;
$menu-single-link-padding: 16px;
$logo-name-gap: 4px;
$company-name-font-size: 20px;
$account-version-font-size: 14px;
$single-link-font-size: 14px;
$single-link-height: 24px;

.menuContainer{
    background-color: white;
    padding: $menu-padding;
    height: 100vh;
    width: $menu-width;
    box-sizing: border-box;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $menu-item-gap;
}

.logo{
    display: flex;
    justify-content: center;
    gap: $menu-logo-gap;
}

.logoName{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: $logo-name-gap;
}

.companyName{
    font-size: $company-name-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    color: var(--primary-inverse);
}

.accountVersion{
    font-size: $account-version-font-size;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--secondary);
}

.singleLink{
    display: flex;
    gap: $menu-single-link-gap;
    height: $single-link-height;
    padding: $menu-single-link-padding;
    align-items: center;
    align-self: center;
    font-size: $single-link-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    &:hover {
        background-color: var(--bg-secondary);
        border-radius: 8px;
        cursor: pointer;
    }
}