.modalCard{
    display: flex;
    width: 636px;
    height: 432px;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 12px;
    background: var(--bg-primary, #FFF);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04), 0 2px 24px 0 rgba(0, 0, 0, 0.04);
}

.thisModule{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.moduleInfo{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.moduleInfoText{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.moduleInfoHeading{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

.modulePercents{
    display: flex;
    .h2{
        font-size: 32px;
        line-height: 40px;
    }
    .h5{
        margin-bottom: 4px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1px;
    }
    align-items: end;
    gap: 8px;
    font-weight: 500;
}
.moduleBadge{
    max-width: 105px;
    height: 16px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 8px;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    border-radius: 99px;
    background: var(--bg-secondary, #F6F6F6);
}
.currentModule{
    display: flex;
    .currentModuleText{
        font-size: 16px;
        color: var(--text-secondary);
        line-height: 28px;
        font-weight: 400;
    }
    .currentModuleName{
        color: var(--bg-primary-inverse);
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }
    gap: 4px;
}

.progressBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.progressBarText{
    display: flex;
    justify-content: space-between;
}
.progressBarHeading{
    display: flex;
    gap: 4px;
    color: var(--bg-primary-inverse);
}
.coursesCount{
    color: var(--text-secondary);
    font-size: 12px;
}
.progressBarGraph{
    width: 100%;
    img{
        width: 100%;
        height: 6px;
        object-fit: cover;
        display: block;
    }
}