$header-padding: 20px 24px;
$header-height: 96px;
$header-margin-bottom: 44px;
$search-input-width: 736px;
$search-input-height: 56px;
$button-size: 56px;
$profile-photo-size: 56px;
$border-radius: 12px;
$button-border-radius: 8px;
$notification-size: 14px;
$notification-font-size: 10px;

.header{
    display: flex;
    padding: $header-padding;
    margin-bottom: $header-margin-bottom;
    width: 100%;
    height: $header-height;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: $border-radius;
    background: var(--bg-primary);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04), 0 2px 24px 0 rgba(0, 0, 0, 0.04);
}

.searchInput{
    display: flex;
    width: $search-input-width;
    height: $search-input-height;
    padding: 10px 20px 10px 16px;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;
    border-radius: $border-radius;
    background: var(--primary-active);
}

.searchPlaceholder{
    border: 0;
    &:focus{
        border: 0;
        outline: none;
    }
    font-family: var(--font-family-body, Montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--primary-active);

      &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important; /* замена фона */
    -webkit-text-fill-color: #000 !important;
    box-shadow: 0 0 0 30px white inset !important;
    border: none !important;
    transition: background-color 5000s ease-in-out 0s; /* хак для отключения анимации автозаполнения */
  }

    &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

.headerControls{
  display: flex;
  height: 100%;
  align-items: center;
  gap: 52px;
}

.headerControlsButtons{
  display: flex;
  gap: 10px;
}

.headerButton{
  width: $button-size;
  height: $button-size;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: $button-border-radius;
  border: 1px solid var(--border-primary);

  .notificationCount{
    width: $notification-size;
    height: $notification-size;
    font-size: $notification-font-size;
    font-style: normal;
    font-weight: 400;
    line-height: $notification-size; /* 140% */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7px;
    top: 5.5px;
    border-radius: 99px;
    background: var(--bg-critical);
  }
}

.miniProfile{
  display: flex;
  align-items: center;
  gap: 16px;
}

.profilePhoto{
  width: $profile-photo-size;
  height: $profile-photo-size;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.profileName{
  color: var(--text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.profileEmail{
  color: var(--text-secondary, #5F5F5F);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}