@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --Grey-800: #0A0A0A;
 --Grey-600: #5F5F5F;
};

body{
    color: var(--Grey-800);
}