@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --primary-inverse: #0A0A0A;   /* grey -  800*/
 --secondary: #5F5F5F;   /* grey - 600 */
 --secondary-active: #EDEDED;   /* grey - 200 */
 --primary: #ffffff;   /* grey -  100 */
 --primary-active: #F8F8F8;    /* grey - 75 */
 --bg-primary: #ffffff;
 --bg-secondary: #F6F6F6;
 --bg-critical: #FF4747;
 --text-secondary: #5F5F5F;
 --text-primary: #0A0A0A;
 --border-primary: #F0F0F0;
 
};

body{
    color: white;
}
.viewportContainer{
    display: flex;
    min-height: 100vh;
}
.container{
    padding: 20px 20px 20px 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex: 1;
}

.bigCard{
    padding: 20px;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid var(--secondary-active);
    background: var(--bg-secondary);
}