@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-inverse: #0a0a0a;
    --secondary: #5f5f5f;
    --secondary-active: #ededed;
    --primary: #ffffff;
    --primary-active: #f8f8f8;
    --bg-primary: #ffffff;
    --bg-primary-inverse: #0a0a0a;
    --bg-secondary: #f6f6f6;
    --bg-critical: #ff4747;
    --text-secondary: #5f5f5f;
    --text-primary: #0a0a0a;
    --border-primary: #f0f0f0;
    --icons-accent: #2683eb;
    --bg-secondary-hover: rgba(240, 240, 240, 1);
    --font-family-body: Montserrat;
    --text-disable: rgba(202, 202, 202, 1);
    --bg-accent: #2683EB;
    --text-primary-inverse: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-body, Montserrat);
    color: var(--text-primary, #0a0a0a);
    background-color: var(--bg-primary, #ffffff);
}
.viewportContainer {
    display: flex;
    min-height: 100vh;
}
.container {
    padding: 20px 20px 20px 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex: 1;
}

.bigCard {
    padding: 20px;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid var(--secondary-active);
    background: var(--bg-secondary);
}

button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
